@font-face {
    font-family: "Normal";
    src: url('../font-styles/Audrey-Normal.otf') format('opentype');
}

.page-heading {
    color: #3f2b35;
    font-family: "Normal";
    font-size: 35px;
    padding: 15px 0px;
    font-weight: bolder;
    

}

.margin-align {
    margin-left: 21px;
}

.label{

    margin-top: 15px;
    margin-right: 15px;
}

.booking{
    text-align: center;
}
.booking-container {
    
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 50vh; 
    padding: 10px; 
    background-color: rgba(109, 104, 104, 0.338);
    border-radius: px;
    margin-top: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}