.heading-container {
    margin-top: 10px;
    padding: 0px 30px; 
}

.enquiry-container {
    padding: 10px 800px; 
    background-color: rgba(109, 104, 104, 0.338); /* White with 70% opacity */
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-container{
    padding: 10px 30px; 
}

.enquiry-heading-container{
    padding: 10px 0px; 
}

.contact-info-and-opening-hours-container {
    display: flex; 
    justify-content: space-between; 
}

.contact-info-container,
.opening-hour-container {
    flex: 1; 
    padding: 0px 30px; 
    background-color: rgba(228, 226, 226, 0.338);
    margin-top: 20px;
}

.contact-hours-container{
    padding: 10px 30px; 
}

.image-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px 10px;
}
