@font-face {
    font-family: "Normal";
    src: url('../font-styles/Audrey-Normal.otf') format('opentype');
}

.heading {
    color: rgb(223, 200, 173);
    font-family: "Normal";
    font-size: 40px;
    font-style: normal;
    padding: 15px 0px;   
    margin: 0px; 
    text-align: center;  
    letter-spacing: 18px;
}

.heading-box {
    background-color: #3f2b35;
}

/* Search bar component*/
.search-container {
    margin-top: 15px;
}

.flex-container {
    display: flex;
    justify-content: center; 
}

