@font-face {
  font-family: "Normal";
  src: url('../font-styles/Audrey-Normal.otf') format('opentype');
}

a {
  font-family: "Normal";
  font-size: 18px; /* Adjust font size */
  text-decoration: none !important;
  font-weight: 500 !important;
  color: rgb(223, 200, 173) !important;
}

.bg1 {
  background-color: #3f2b35; /* Background color */
  text-align: center;
  padding: 20px 0; 
  margin-top: -30px; 
}



li {
  list-style: none;
  padding: 1vh 1vh; 
}

ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.style {
  margin-right: 10px;
}

.dropbtn {
  color: rgb(0, 0, 0) !important; 
  padding: 9px;
  font-weight: 500;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3f2b35; 
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 14px;
  color: rgb(223, 200, 173);
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(223, 200, 173);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: black;
  background-color: rgb(223, 200, 173);
}

nav ul li a {
  color: rgb(223, 200, 173); 
}
