@font-face {
  font-family: "Normal";
  src: url('../font-styles/Audrey-Normal.otf') format('opentype');
}

a {
    font-family: "Normal";
    font-size: 28px;
    text-decoration: none !important;
    font-weight: 500 !important;
    color: rgb(223, 200, 173) !important;
}

a:hover {
    padding: 0.5em;
    color: black !important;
    background-color: rgb(223, 200, 173);
}

.bg1 {
    background-color: #3f2b35;
    text-align: center;
}

li {
    list-style: none;
    padding: 3vh 3vh;
}

ul {
    margin: 0;
    padding: 0;
    display: inline-block;

}

.style {
    margin-right: 10px;
}

  /* Dropdown tab - "Museum" & "Help" */
.dropbtn {
    color: rgb(223, 200, 173) !important;
    padding: 16px;
    font-weight: 500;
    border: none;
}

  /* The over-arching div */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* The dropdown box itself */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3f2b35;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown - "Contact us", "FAQ" etc */
.dropdown-content a {
    font-size: 20px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(223, 200, 173);
}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
  /* Change the background color of the page-link li 
  when the link is hovered */
.dropdown:hover .dropbtn {
    color: black;
    background-color: rgb(223, 200, 173);
}