a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(223, 200, 173);
}

a:hover {
    padding: 0.5em;
    color: black;
    background-color: rgb(223, 200, 173);
}

.bg1 {
    background-color: #3f2b35;
    text-align: center;
}

li {
    list-style: none;
    margin: 4vh 4vh;
}

ul {
    margin: 0;
    padding: 0;
    display: inline-block;

}

.style {
    margin-right: 10px;
}