/* Pages.css */

@font-face {
    font-family: "Normal";
    src: url('../font-styles/Audrey-Normal.otf') format('opentype');
}

.museum-heading {
    color: rgb(223, 200, 173);
    font-family: "Normal";
    font-size: 50px;
    font-style: normal;
    padding: 15px 0px;
    margin: 0px;
    text-align: center;
    letter-spacing: 18px;
}

.muse-box {
    background-color: rgb(223, 200, 173, 0.7); 
}

.muse-box h1 {
    color: black;
}

.visit-container {
    margin-top: 10px;
    padding: 0px 10px;
}

.exhibition-container {
    padding: 0px 10px;
}

.arrow-link {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 10px 10px;
    font-family: "Normal";
    font-size: 25px;
}

.arrow-link:hover {
    background-color: #f0f0f0;
}
