@font-face {
    font-family: "Normal";
    src: url('../font-styles/Audrey-Normal.otf') format('opentype');
}

.flex-page {
    display: flex;
    flex-direction: row;
    gap: 3.5%;
    margin-top: 40px;
}

.tile-margin {
    margin-left: 5px;
}

.sub-heading {
    font-family: "Normal";
    font-size: 25px;
    background-color: #3f2b35;
    color: rgb(223, 200, 173);
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

