@font-face {
    font-family: "Normal";
    src: url('../font-styles/Audrey-Normal.otf') format('opentype');
}

.museum-heading {
    color: #3f2b35;
    font-family: "Normal";
    font-size: 35px;
    padding: 15px 0px;
    margin-left: 21px;
}


.link-container {
    margin-top: 10px;
    padding: 0px 10px;
}

.arrow-link {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 10px 10px;
    font-family: "Normal";
    font-size: 25px;
}

.arrow-link a {
    color: #3f2b35 !important;
}

/* .arrow-link:hover {
    background-color: #f0f0f0;
} */
